body {
    font-family: 'Open sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #EEEDDC;
    color: #000000;
    padding: 15px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 90%;
}

header img {
    max-height: 100px; /* Adjust the height of your logo */
}

.wave-shape-news {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 140px; /* Adjust the height of the wave */
    background: url('../svg/wave.svg') repeat-x; /* Replace 'wave.svg' with the path to your wave SVG file */
    /*transform: scaleY(-1); /* Flip the wave vertically */
}

.wave-shape-news2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 210px; /* Adjust the height of the wave */
    background: url('../svg/wave-anim.svg') repeat-x; /* Replace 'wave.svg' with the path to your wave SVG file */
    /* transform: scaleY(-1); /* Flip the wave vertically*/
}

.wave-shape-news3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 190px; /* Adjust the height of the wave */
    background: url('../svg/wave-anim.svg') repeat-x; /* Replace 'wave.svg' with the path to your wave SVG file */
    /* transform: scaleY(-1); /* Flip the wave vertically*/
    opacity: 30%;
}

.wave-shape-featured {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 190px; /* Adjust the height of the wave */
    background: url('../svg/wave-anim.svg') repeat-x; /* Replace 'wave.svg' with the path to your wave SVG file */
    transform: scaleY(-1); /* Flip the wave vertically */
}

.wave-shape-featured2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 210px; /* Adjust the height of the wave */
    background: url('../svg/wave-anim.svg') repeat-x; /* Replace 'wave.svg' with the path to your wave SVG file */
    transform: scaleY(-1); /* Flip the wave vertically */
    opacity: 30%;
}

.wave-shape-featured3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 170px; /* Adjust the height of the wave */
    background: url('../svg/wave.svg') repeat-x; /* Replace 'wave.svg' with the path to your wave SVG file */
    transform: scaleY(-1); /* Flip the wave vertically*/
}

.wave-shape-contact {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 140px; /* Adjust the height of the wave */
    background: url('../svg/wave.svg') repeat-x; /* Replace 'wave.svg' with the path to your wave SVG file */
    /*transform: scaleY(-1); /* Flip the wave vertically */
}

.wave-shape-contact2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 140px; /* Adjust the height of the wave */
    background: url('../svg/wave.svg') repeat-x; /* Replace 'wave.svg' with the path to your wave SVG file */
    transform: scaleY(-1); /* Flip the wave vertically */
}

.wave-shape-footer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px; /* Adjust the height of the wave */
    background: url('../svg/wave.svg') repeat-x; /* Replace 'wave.svg' with the path to your wave SVG file */
    /*transform: scaleY(-1); /* Flip the wave vertically */
}

input[type=submit] {
    background-color: #b3fc64; /* Set your desired background color */
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type=submit]:hover {
    background-color: #45a049; /* Set your desired darker color for hover */
}

nav {
    display: flex;
    padding-left: 10%;
}

nav a {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 25px;
}

nav a:hover {
    background-color: #b3fc64;
    color: black;
}

.callus {
    text-align: right;
}

.callus p {
    font-weight: 900;
    font-size: large;
    color: #45a049;
}

.dropdown {
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    border-radius: 25px;
}

.dropbtn:hover {
    background-color: #b3fc64;
    color: black;
}

.dropbtn:after {
    content: '';
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 5px;
    transform: rotate(45deg);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #b3fc64;
}

.dropdown:hover .dropdown-content {
    display: block;
}

section {
    padding: 20px;
}

.news-section {
    background: linear-gradient(45deg, #85FF00 0%, #EEEDDC 65%); 
    text-align: center;
    position: relative;
    padding-bottom: 190px;
}

.news-title {
    margin-top: 100px;
    font-size: xx-large;
    font-weight: 700;
}

.news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    position: relative;
}

.news-item {
    width: 30%;
    margin-bottom: 20px;
}

.news-item-only {
    display: flex;
    margin-bottom: 20px;
}

.news-item img {
    width: 500px;
    height: 400px;
    border-radius: 25px;
    object-fit: cover;
}

.news-item-only img {
    border-radius: 25px;
    margin-right: 15px;
}

.news-content {
    flex: 1; /* Take up the remaining space */
    text-align: left;
}

.featured-section {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 20px;
    background: linear-gradient(45deg, #EEEDDC 60%, #85FF00 100%);
    position: relative;
    padding-top: 100px;
    padding-bottom: 110px;
}

.featured-section img {
    max-width: 100%;
    height: 800px; /* Ensure the image doesn't exceed its container */
    margin-left: 20%;
    border-radius: 25px;
}

.featured-text {
    margin-left: 10%;
} 

.contact-section {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 20px;
    background: linear-gradient(45deg, #85FF00 0%, #EEEDDC 65%); /* Set your desired colors */
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
}

.contact-text {
    margin-right: 10%;
    margin-left: 20%;
    text-align: left;
} 

iframe {
    width: 40%;
    height: 400px;
    border: 0;
    border-radius: 25px;
}

footer {
    background: linear-gradient(45deg, #EEEDDC 20%, #85FF00 100%);
    color: #000000;
    padding: 20px 0;
    position: relative;
    padding-top: 150px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-section {
    flex: 1;
    margin-left: 100px;
}

.footer-section-img {
    flex: 1;
    margin-left: 100px;
}

.footer-section-img img {
    max-width: 100%;
    max-height: 150px;
    display: block;
    margin: 0 auto;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section p {
    margin: 0;
}

.footer-section a {
    display: block;
    color: #000000;
    text-decoration: none;
    margin-bottom: 5px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

.footer-bottom p {
    margin-top: 50px;
}